<div class="container">
    <div class="row">
        <div class="col">
            <h3>Form without groups</h3>
            <ib-dynamic-forms [controlGroups]="controlGroups" [useGroups]="false" #dynamicForms></ib-dynamic-forms>
            <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
        <div class="col pt-5">
          <pre>
            {{ dynamicForms.form.value | json }}
          </pre>
        </div>
    </div>
  <div class="row">
    <div class="col">
      <h3 class="mt-5">Form with groups</h3>
      <ib-dynamic-forms [controlGroups]="controlGroups" #dynamicForms2></ib-dynamic-forms>
      <button type="submit" class="btn btn-primary" (click)="dynamicForms2.getFormData()">Submit</button>
    </div>
    <div class="col pt-5">
          <pre>
            {{ dynamicForms2.form.value | json }}
          </pre>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="mt-5">Form with custom groups</h3>
      <ib-dynamic-forms [controlGroups]="controlGroups" #dynamicForms3 [config]="specificConfig"></ib-dynamic-forms>
      <button type="submit" class="btn btn-warning btn-lg" (click)="dynamicForms3.getFormData()">Submit</button>
    </div>
    <div class="col pt-5">
          <pre>
            {{ dynamicForms3.form.value | json }}
          </pre>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="mt-5">Form with custom controls</h3>
      <ib-dynamic-forms [controlGroups]="controlGroups" #dynamicForms4 [config]="specificConfig2"></ib-dynamic-forms>
      <button type="submit" class="btn btn-primary" (click)="dynamicForms4.getFormData()">Submit</button>
    </div>
    <div class="col pt-5">
          <pre>
            {{ dynamicForms4.form.value | json }}
          </pre>
    </div>
  </div>
</div>
